{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="about-content-wrapper">
  		<div class="about-content-section-1 info-heading">
  			<i class="fa fa-anchor"></i>
  			<h2>About</h2>
  		</div>
  		<div class="about-content-section-2 info-par">
  			<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave. Marfa conse ctetur incidi dunt bespoke taxi dermy etsy. Pabst lumber try hard yuccie, paleo selfies bio diesel tousled actually ugh chamb ray bush wick. Minim mixtape dolore lomo. Ad ea anim lorem vegan, green juice ham mock nisi cloud bread asym metrical small batch cred.</p>
  		</div>
  	</div>
  </div>
{% endblock %}