{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="coupons-content-wrapper">
      <div class="coupons-content-section-1 info-heading">
        <i class="fa fa-fire"></i>
        <h2>Coupons</h2>
        <p></p>
      </div>
      <div class="coupons-content-section-2">
        <div class="coupons-luggage coupons-coupon">
          <p>Present This Coupon Code To An Associate &amp; Store Your Luggage For $4.95 Per Day Per Bag</p>
          <h2>Grand445</h2>
          <p>$6.95 Per Day Per Bag Without Coupon</p>
        </div>
        <div class="coupons-store coupons-coupon">
          <p>Present This Coupon Code To An Associate &amp; Get 15% Off Your Entire Purchase</p>
          <img src="/static/img/coupon1.jpg">
        </div>
        <div class="coupons-store coupons-coupon">
          <p>Present This Coupon Code To An Associate &amp; Get A Free I ❤ NY T-Shirt When You Spend $50 Or More</p>
          <img src="/static/img/coupon2.jpg">
        </div>
      </div>
  	</div>
  </div>
{% endblock %}