{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="coupon-content-wrapper">
      <div class="coupon-content-section-1 info-heading">
        <i class="fa fa-fire"></i>
        <h2>Coupons</h2>
      </div>
      <div class="coupon-content-section-2">
        <div class="coupon-luggage">
          <h2>Store Your Luggage For $4.95 Per Day With Coupon Code City5</h2>
        </div>
        <div class="coupon-store">
          
        </div>
      </div>
  	</div>
  </div>
{% endblock %}