{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="faqs-content-wrapper">
  		<div class="faqs-content-section-1 info-heading">
  			<i class="fa fa-university"></i>
  			<h2>FAQs</h2>
  		</div>
  		<div class="faqs-content-section-2">
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  			<div class="faqs-question">
  				<h2>Question Goes Here.</h2>
  				<p>Shore ditch jean shorts dolore, quis banjo lomo 8-bit ready made plaid art party aute banh mi selvage. Dream catcher ad YOLO quinoa enim microdo sing, ethical truffaut kombucha snack wave.</p>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}