{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="home-content-wrapper">
  		<div class="home-content-section-1">
  			<div class="home-content-map"></div>
  			<div class="home-content-map-overlay">
  				<div class="home-content-map-overlay-info">
  					<h2>Luggage Storage</h2>
  					<h2>Grand Central Station</h2>
  					<p>Drop Off Your Luggage at Our Retail Location &amp; Explore New York Trouble Free</p>
  				</div>
  				<div class="home-content-map-overlay-buttons">
  					<a href="/pricing">Pricing</a>
  					<a href="/location">Location</a>
  				</div>
  			</div>
  		</div>
  		<div class="home-content-section-2">
  			<p>Got a Question? Call <span>+1 212.689.4418</span></p>
  		</div>
  		<div class="home-content-section-3">
  			<h2>How It Works</h2>
  			<div class="home-content-explaination">
  				<div class="home-content-explaination-step-1">
  					<img src="/static/img/luggage.svg" alt="luggage icon">
  					<p>Meet Our Staff Face To Face &amp; Deposit Your Bags at Our Location Near Grand Central</p>
  				</div>
  				<div class="home-content-explaination-step-2">
  					<img src="/static/img/empire.svg" alt="empire state building icon">
  					<p>Enjoy Your Time In New York!</p>
  				</div>
  				<div class="home-content-explaination-step-3">
  					<img src="/static/img/money.svg" alt="monetary transaction icon">
  					<p>Pickup Your Luggage and Pay Due Fees</p>
  				</div>
  			</div>
  		</div>
  		<div class="home-content-section-4">
  			<p>Examine Our Location at 5th Avenue &amp; Leave Your Things In Safe Hands. Grand Luggage Will Keep Your Bags Secure While You Wander Around The City. You May Conveniently Pay With Either Cash Or Credit/Debit at The Counter!</p>
  		</div>
      <div class="home-content-section-5">
        <img src="/static/img/store.jpg">
        <p>Check Out Our Gift Shop And These Amazing Coupons!</p>
        <a href="/coupons">Coupons</a>
      </div>
  		<div class="home-content-section-6">
  			<p>If You Have Any Additional Questions Please Consult The <a href="/faqs">FAQs</a> or <a href="/contact">Contact Us</a></p>
  		</div>
  	</div>
  </div>
{% endblock %}

<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> 

<div>Icons made by <a href="https://www.flaticon.com/authors/icon-monk" title="Icon Monk">Icon Monk</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div>Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

-->
