{% extends 'layout.html' %}

{% block body %} 
  <div class="content-wrapper">
  	<div class="location-content-wrapper">
      <div class="location-content-section-1 info-heading">
        <i class="fa fa-map"></i>
        <h2>Location</h2>
      </div>
      <div class="location-content-section-2">
        <div class="location-content-desc">
          <p>We Are Conveniently Located Near Grand Central Station, New York Library &amp; Bryant Park. Our Address is 445 5th Avenue New York, NY 10016, Between 39th and 40th Street.</p>
        </div>
        <div class="location-content-map">
          <img src="/static/img/map.jpg" alt="Map Of Location">
        </div>
      </div>
  	</div>
  </div>
{% endblock %}