{% extends 'layout.html' %}

{% block body %} 
  <div class="pricing-wrapper">
  	<div class="pricing-content-wrapper">
  		<div class="pricing-content-section-1 info-heading">
  			<i class="fa fa-money"></i>
  			<h2>Pricing</h2>
  		</div>
  		<div class="pricing-content-section-2 ">
        <div class="coupons-luggage coupons-coupon pricing-coupon">
          <p>Present This Coupon Code To An Associate &amp; Store Your Luggage For $4.95 Per Day Per Bag</p>
          <h2>Grand445</h2>
          <p>$6.95 Per Day Per Bag Without Coupon</p>
        </div>
        <div class="pricing-buttons">
          <a href="/location">Location</a>
          <a href="/contact">Contact</a>
        </div>
  		</div>
  	</div>
  </div>
{% endblock %}